*{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.head{
    width: 100%;
    height: 850px;
    background-image: url(./media/heading.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   

}

.head-contant{
    padding: 200px 100px;
    width: 70%;
}


.head h1 {
    color: white;
    font-size: 80px;
  letter-spacing: 2px;
  
}
.head p {
    
    color: white;
    font-size: 40px;
   letter-spacing: 2px;
   line-height: 50px;

}
/* all btn style start */
.btn{
   border-radius: 0px;
    /* background-position: center; */
   width: 15%;
   height: 50px;
   margin-top: 30px;
   margin-right: 100px;
   margin-left: auto;
   padding: 6px;
font-size: 13px;
background-color:#FDB467 ;
font-size: 12px;
position: absolute;
}



.btngo{
    position: sticky;
    height: 50px;
    background-color:#FDB467 ;
    width: 200px;
    margin-top: 25px;
}

.joine{
    position: sticky;
    height: 50px;
    background-color:#FDB467 ;
    width: 200px;
    margin: 25px 5px 0px 50px;
}
/* button style end  */


/* About section style start  */
.information{
    width: 100%;
    height: 850px;
}
.information .about_us{
    background-color:#272624 ;
    width: 50%;
    float: left;
    height: 850px;
    text-align: center;
    color: white;
    
}

.information .about_us .about-text{
    width: 80%;
    padding-top: 50% ;
    margin: auto;
}

.information .reg{
    width: 50%;
    background-color:#1E1D1B ;
    float: right;
    height: 850px;
    text-align: center;
}




.information .about_us h2{
font-size: 40px;
}




.information .about_us p{
    font-size:20px;
   
} 




.information .reg .reg_content {
   color: white;
   letter-spacing: 2px;
   line-height: 50px;
   width: 80%;
   padding-top: 50% ;
   margin: auto;
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
}




.information .reg .reg_content h2{
height: 50px;
font-size: 30px;
text-transform: uppercase;
}



.information .reg .reg_content h4{
font-size:20px ;
}



.information .reg .reg_content h5{
font-size: 18px;
}


/* about section style end  */




/* workshop section style start  */


.workshop{
    width: 100%;
    height: 800px;
} 




.workshop .wspleft{
    width: 40%;
    height: 800px;
    background-color: #EEE9E5;
    text-align: center;
    letter-spacing: 2px;
    line-height: 30px;
    float: left;
    padding-right: 50px; 
}




.workshop .wspleft .leftcontent{
font-weight: 20px;
padding: 100px 50px 0px 30px;
}




.workshop .rightcontent{
    height: 800px;
    width: 55%;
    float: right;
}
.workshop .rightcontent img{
    width: 100%;
    height: 800px;
}


/* workshop section style end  */

/* membership section style start  */


.membershipmain{
    width: 100%;
    height: 600px;
}
.membershipmain .membershipleft{
    float: left;
    width: 60%;
    height: 600px;
}



.membershipmain .membershipright{
background-color: #272624;
float: right;
width: 40%;
height: 600px;
letter-spacing: 2px;
background-position: center;
}



.membershipmain .membershipleft img{
width: 100%;
height: 600px;
}



.membershipmain .membershipright .membershipcontent{
    height: 300px;
    width: 40%;
    padding: 120px  30px;
    color: white;
    background-position: center;
} 
.membershipmain .membershipright .membershipcontent h1{
margin: 20px 0px 20px 0px;
}


/* membership section style end  */
/* review menu style start  */

.reviewmain{
    background-image: url(./media/review.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
   background-size: cover;
}



.reviewmain .studentcontent{
    width: 40%;
    height: 400px;
    background-color: white;
    margin: 200px 200px ;
    position: absolute;
}
.reviewmain .studentcontent .student-text{
    width: 80%;
    padding: 100px 90px 0px 70px;
}



.reviewmain .studentcontent .student-text p{
    padding: 20px 0px;
}



/* review menu style end  */

/* footer section style start  */
.footersection{
    width: 100%;
    height: 600px;
    background-color: #1E1D1B;
    color: white;
    text-align: center;
    padding: 250px 0px 0px 200px;
    background-position: center; 
}



.footersection .footercontent {
width:50%;
height: 300px;
background-position: center;
padding: 100px 100px 0px 100px;
}
.footersection .footercontent p { 
margin-top: 70px;

}
 .footersection .form{
 width: 30%;
background-position: center;
margin-left: 200px;
padding-bottom: 100px;
 }

 /* footer section end   */